<h1> FIGHT! </h1>
<%= @player_1_name %> HP:<%= @hp1 %> vs. <%= @player_2_name %> HP:<%= @hp2 %>
<br>
<br>
<div>
  <% if $game.even_move == true %>
    <%= @player_1_name %> surprises <%= @player_2_name %> and attacks!
    <form action="/fight" method="post">
    <input type="submit" value="Attack">
    </form>
<div>
  <% elsif $game.even_move == false %>
    <%= @player_2_name %> gets up and throws a punch at <%= @player_1_name %>
    <form action="/fight_back" method="post">
    <input type="submit" value="Attack">
    </form>
  <% end %>
</div>
