<h1> FIGHT! </h1>
<%= @player_1_name %> HP:<%= @hp1 %> vs. <%= @player_2_name %> HP:<%= @hp2 %>
<br>
<br>
<div>
<%= @player_1_name %> surprises <%= @player_2_name %> and attacks first!
<form action="/fight" method="post">
<input type="submit" value="Attack">
</form>
